// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  font-family: 'Roboto', sans-serif;
}

.st-sticky-share-buttons {
  z-index: 5000 !important;
}

#Main {
  min-height: 100vh;
  background: #1A2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #302b63, #00acc1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #302b63, #00acc1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#AppContent {
  padding: 1rem 7rem 0 7rem;

  &.small {
    padding: 1px 0 !important;

    .q-card {
      border-radius: 0 !important;
    }
  }
}

#CanvasArea.border {
  border-left: 1px solid rgba(0,0,0,0.12);
}
